<a href="https://colab.research.google.com/github/aakashr30/Mnist-Train-Analysis-Using-NeuralNetwork-model-Of-Preceptron-/blob/main/NEURAL_NETWORK(Preceptron).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
%matplotlib inline

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/0 (1).MKCE/14.Neural  Network/mnist_train.csv")
data

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,60000.000000,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.0000,60000.0,60000.0,60000.0,60000.0
mean,4.453933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.200433,0.088867,0.045633,0.019283,0.015117,0.0020,0.0,0.0,0.0,0.0
std,2.889270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.042472,3.956189,2.839845,1.686770,1.678283,0.3466,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.0000,0.0,0.0,0.0,0.0

In [ ]:
data.columns

Index(['label', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9',
       ...
       '28x19', '28x20', '28x21', '28x22', '28x23', '28x24', '28x25', '28x26',
       '28x27', '28x28'],
      dtype='object', length=785)

In [ ]:
data.shape

(60000, 785)

In [ ]:
x = data.drop(['label'],axis=1)
y = data['label']

In [ ]:
from sklearn.linear_model import Perceptron
model = Perceptron()

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=1)

In [ ]:
print(x_train)
print(x_test)
print(y_train)
print(y_test)

       1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  1x10  ...  28x19  28x20  \
55443    0    0    0    0    0    0    0    0    0     0  ...      0      0
29327    0    0    0    0    0    0    0    0    0     0  ...      0      0
1540     0    0    0    0    0    0    0    0    0     0  ...      0      0
45009    0    0    0    0    0    0    0    0    0     0  ...      0      0
50332    0    0    0    0    0    0    0    0    0     0  ...      0      0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...    ...    ...
50057    0    0    0    0    0    0    0    0    0     0  ...      0      0
32511    0    0    0    0    0    0    0    0    0     0  ...      0      0
5192     0    0    0    0    0    0    0    0    0     0  ...      0      0
12172    0    0    0    0    0    0    0    0    0     0  ...      0      0
33003    0    0    0    0    0    0    0    0    0     0  ...      0      0

       28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
55443      0      0      0      0      0      0      0      0
29327      0      0      0      0      0      0      0      0
1540       0      0      0      0      0      0      0      0
45009      0      0      0      0      0      0      0      0
50332      0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...
50057      0      0      0      0      0      0      0      0
32511      0      0      0      0      0      0      0      0
5192       0      0      0      0      0      0      0      0
12172      0      0      0      0      0      0      0      0
33003      0      0      0      0      0      0      0      0

[45000 rows x 784 columns]
       1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  1x10  ...  28x19  28x20  \
15281    0    0    0    0    0    0    0    0    0     0  ...      0      0
21435    0    0    0    0    0    0    0    0    0     0  ...      0      0
44536    0    0    0    0    0    0    0    0    0     0  ...      0      0
13518    0    0    0    0    0    0    0    0    0     0  ...      0      0
47529    0    0    0    0    0    0    0    0    0     0  ...      0      0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...    ...    ...
31086    0    0    0    0    0    0    0    0    0     0  ...      0      0
22570    0    0    0    0    0    0    0    0    0     0  ...      0      0
34732    0    0    0    0    0    0    0    0    0     0  ...      0      0
39020    0    0    0    0    0    0    0    0    0     0  ...      0      0
39592    0    0    0    0    0    0    0    0    0     0  ...      0      0

       28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
15281      0      0      0      0      0      0      0      0
21435      0      0      0      0      0      0      0      0
44536      0      0      0      0      0      0      0      0
13518      0      0      0      0      0      0      0      0
47529      0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...
31086      0      0      0      0      0      0      0      0
22570      0      0      0      0      0      0      0      0
34732      0      0      0      0      0      0      0      0
39020      0      0      0      0      0      0      0      0
39592      0      0      0      0      0      0      0      0

[15000 rows x 784 columns]
55443    2
29327    6
1540     6
45009    4
50332    5
        ..
50057    0
32511    5
5192     0
12172    9
33003    0
Name: label, Length: 45000, dtype: int64
15281    3
21435    2
44536    7
13518    8
47529    2
        ..
31086    5
22570    7
34732    7
39020    2
39592    2
Name: label, Length: 15000, dtype: int64

In [ ]:
model.fit(x_train,y_train)

Perceptron()

In [ ]:
pre = model.predict(x_test)

In [ ]:
pre.shape

(15000,)

In [ ]:
x_test

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
15281,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21435,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44536,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47529,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31086,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39592,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pre)

0.868

In [ ]:
len(data)

60000

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pre)

array([[1431,    0,   10,    5,    1,    5,    4,    1,   14,    1],
       [   0, 1633,   23,    0,    1,    2,    5,    1,   50,    3],
       [  13,    4, 1373,   13,   13,    7,    8,    6,   48,    1],
       [  20,    8,  160, 1066,   10,   34,    8,   16,  195,   25],
       [   6,    6,   10,    1, 1318,    6,    5,    6,   50,   38],
       [  33,   14,   28,   29,   23, 1072,   30,    5,  155,   34],
       [  24,    5,   27,    1,   16,   29, 1345,    0,   29,    0],
       [  11,    5,   55,    0,   24,    3,    1, 1413,   14,   29],
       [  15,   36,   63,    8,   16,   47,    9,    9, 1231,   25],
       [  13,   21,   10,    9,   75,   14,    1,   86,   56, 1138]])

In [ ]:
from sklearn.metrics import classification_report
classification_report(y_test,pre)

'              precision    recall  f1-score   support\n\n           0       0.91      0.97      0.94      1472\n           1       0.94      0.95      0.95      1718\n           2       0.78      0.92      0.85      1486\n           3       0.94      0.69      0.80      1542\n           4       0.88      0.91      0.90      1446\n           5       0.88      0.75      0.81      1423\n           6       0.95      0.91      0.93      1476\n           7       0.92      0.91      0.91      1555\n           8       0.67      0.84      0.75      1459\n           9       0.88      0.80      0.84      1423\n\n    accuracy                           0.87     15000\n   macro avg       0.88      0.87      0.87     15000\nweighted avg       0.88      0.87      0.87     15000\n'